<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shamik.easymoney.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_product"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.shamik.easymoney.app.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.shamik.easymoney.app.EasyMoneyWidgetProvider"
            android:label="EasyMoney add new">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_easymoney_info" />
        </receiver>
    </application>

</manifest>
